@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;800&display=swap');
*,
*::before,
*::after {
  font-family: "Kanit", sans-serif;
  padding: 0px;
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}


@media only screen and (max-width: 1600px) {
  html {
    font-size: 55%;
  }
}